@import "tailwindcss";
@layer base {
  *{
    margin :0;
    padding:0;
    box-sizing:border-box;
  }

  html{
    scroll-behavior: smooth;
  }

  body{
    font-family:"Geist Pixel", sans-serif;
    background-color: #f5f5f5;
}
}